@font-face {
  font-family: 'fourhand_trialregular';
  src: url("../fonts/fourhand/fourhand_trial-webfont.woff2") format("woff2"), url("../fonts/fourhand/fourhand_trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'fourhand_trialregular';
  src: url("../fonts/fourhand/fourhand_trial-webfont.woff2") format("woff2"), url("../fonts/fourhand/fourhand_trial-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'a_little_sunshineregular';
  src: url("../fonts/a-little-sunshine/a_little_sunshine-webfont.woff2") format("woff2"), url("../fonts/a-little-sunshine/a_little_sunshine-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
.navbar {
  background: #007966; }

.navbar-default {
  background: #007966; }
  .navbar-default .navbar-nav {
    width: 100%;
    text-align: center; }
    .navbar-default .navbar-nav li {
      float: none;
      display: inline-block; }
      .navbar-default .navbar-nav li a {
        color: #F2F3F4; }

@media (max-width: 767px) {
  .navbar-default .navbar-nav {
    width: none; }
    .navbar-default .navbar-nav li {
      display: block; }

  footer li {
    text-align: center; }
  footer .divider {
    background: red; }

  #portfolio h2 {
    margin: 0; }

  .banner .row {
    position: relative; } }
.banner {
  margin-top: 30px;
  margin-bottom: 30px; }
  .banner img {
    margin: 0 auto; }
  .banner .container .row {
    position: absolute;
    z-index: 50;
    top: 100px;
    margin-left: 40px; }
    .banner .container .row h2 {
      font-family: "fourhand_trialregular", Arial, sans-serif;
      font-size: 5em; }

#about p {
  font-family: "a_little_sunshineregular", Arial, sans-serif;
  font-size: 1.5em; }

#skill {
  margin-top: 40px; }
  #skill h2 {
    font-family: "fourhand_trialregular", Arial, sans-serif;
    font-size: 5em;
    padding-left: 50px; }

.carousel {
  margin-top: 20px; }
  .carousel .item img {
    margin: 0 auto;
    /* Align slide image horizontally center */
    border: solid 10px #F2F3F4;
    box-shadow: 5px 5px 20px 1px #efb88b;
    transition: .5s ease-in; }
    .carousel .item img:hover {
      transform: scale(1.05);
      box-shadow: 5px 5px 20px 5px #efb88b; }

.carousel-inner {
  overflow: hidden; }

.carousel-indicators {
  position: relative;
  margin-top: 40px; }
  .carousel-indicators li {
    border: solid #196F3D; }

.carousel-control.left, .carousel-control.right {
  background-image: none; }

.slide {
  animation: none; }

.contHead h3 {
  margin: 0 auto;
  text-align: center; }

.form-group div {
  margin: 10px; }
.form-group label {
  float: left;
  text-align: center; }
.form-group input {
  width: 80%;
  height: 25px;
  float: right;
  border: none; }
  .form-group input:after {
    border: 0.1em solid transparent;
    border-image: url("http://emptyeasel.com/wp-content/uploads/2012/11/creatingtexture2-carrielewis.jpg") 0 27 27 27 round stretch;
    transform: rotate(-1deg);
    content: '';
    top: 0px;
    left: 0px;
    position: absolute;
    width: 100%;
    height: 100%; }
  .form-group input:before {
    border-top: 0.1em solid transparent;
    border-image: url("http://emptyeasel.com/wp-content/uploads/2012/11/creatingtexture2-carrielewis.jpg") 27 0 0 0 stretch round;
    /*border-radius: 1.5em;*/
    content: '';
    height: 3em;
    left: 0;
    top: 0;
    transform: rotate(-1deg);
    width: 100%;
    position: absolute; }
.form-group textarea {
  clear: both; }
.form-group #submit {
  float: none;
  width: 100px;
  clear: both;
  background: #019879; }

#thankyou .circle-part .circleYat {
  background: #019879;
  border-radius: 50%; }
  #thankyou .circle-part .circleYat h1 {
    margin-top: 50px;
    font-family: "fourhand_trialregular", Arial, sans-serif;
    text-align: center;
    font-size: 7em; }
  #thankyou .circle-part .circleYat h3 {
    font-family: "a_little_sunshineregular", Arial, sans-serif;
    text-align: center;
    font-size: 4em; }
  #thankyou .circle-part .circleYat .foterthank {
    margin-top: 5000px; }

.sortfil a {
  font-size: 1.5em;
  margin: 0 auto; }

#portfolio h2 {
  font-family: "fourhand_trialregular", Arial, sans-serif;
  font-size: 5em;
  margin: 50px; }
  #portfolio h2 a {
    color: #333;
    cursor: pointer; }

.portfolio div {
  margin-bottom: 20px; }
  .portfolio div img {
    border: solid 10px #F2F3F4;
    box-shadow: 5px 5px 20px 1px #efb88b;
    transition: .5s ease-in; }
    .portfolio div img:hover {
      transform: scale(1.05);
      box-shadow: 5px 5px 20px 5px #efb88b; }
  .portfolio div .im1 {
    transform: rotate(2deg); }
  .portfolio div .im2 {
    transform: rotate(-1.5deg); }

.lightbox .container-fluid {
  position: fixed;
  width: 100%;
  /* Full width (cover the whole page) */
  height: 100%;
  /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 56;
  -webkit-transition: all 0.5s ease-in-out 0s;
  -moz-transition: all 0.5s ease-in-out 0s;
  transition: all 0.5s ease-in-out 0s; }
.lightbox .container {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 57; }
  .lightbox .container img {
    margin: 0 auto;
    margin-top: 60px; }
.lightbox .close {
  position: fixed;
  color: white;
  font-size: 1.5em; }

footer {
  background: #007966; }
  footer ul {
    padding-left: 0;
    list-style: none; }
    footer ul li {
      list-style-type: none;
      clear: both; }
      footer ul li a {
        color: #F2F3F4;
        font-size: 1.2em; }
  footer .small-icon {
    margin-top: 10px;
    color: #F7F9F9; }
    footer .small-icon a {
      color: #F7F9F9;
      text-decoration: none;
      transition: 0.2s ease-in; }
      footer .small-icon a:hover {
        transform: rotate(-8deg);
        opacity: 0.8; }
  footer .copyright {
    margin-top: 10px;
    color: #F7F9F9; }

/*# sourceMappingURL=style.css.map */
