$fourhand: "fourhand_trialregular", Arial, sans-serif;
$lilsunshine: "a_little_sunshineregular", Arial, sans-serif;

@font-face {
    font-family: 'fourhand_trialregular';
    src: url('../fonts/fourhand/fourhand_trial-webfont.woff2') format('woff2'),
         url('../fonts/fourhand/fourhand_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'fourhand_trialregular';
    src: url('../fonts/fourhand/fourhand_trial-webfont.woff2') format('woff2'),
         url('../fonts/fourhand/fourhand_trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'a_little_sunshineregular';
    src: url('../fonts/a-little-sunshine/a_little_sunshine-webfont.woff2') format('woff2'),
         url('../fonts/a-little-sunshine/a_little_sunshine-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
