// @import "reset";
@import "fonts";
//
// body {
//   font-family: Helvetica, Arial, sans-serif;
// }

// body {
// .container-fluid {
//   background: #FDEBD0;
//   .container {
//     background: #FDF2E9;
//   }
// }
// }

// nav bar start
.navbar {
  background: #007966;
}

.navbar-default {
  background: #007966;
  .navbar-nav {
    width: 100%;
    text-align: center;
    li {
      float: none;
      display: inline-block;
      a {
        color: #F2F3F4;
      }
    }
  }
}

@media (max-width: 767px) {
  .navbar-default {
  .navbar-nav {
    width: none;
      li {
        display: block;
      }
    }
  }
  footer {
    li {
      text-align: center;
    }
    .divider {
      background: red;
    }
  }
  #portfolio {
    h2 {
      margin: 0;
    }
  }
  .banner {
    .row {
      position: relative;
    }
  }
}

// nav bar end

//banner started
.banner {
  margin-top: 30px;
  margin-bottom: 30px;
  // background: #fa8e29;
  img {
    margin: 0 auto;
  }
  .container {
    .row {
      position: absolute;
      z-index: 50;
      top: 100px;
      margin-left: 40px;
      h2 {
        font-family: $fourhand;
        font-size: 5em;
      }
    }
  }
}

#about {
  p {
    font-family: $lilsunshine;
    font-size: 1.5em;
  }
}
//banner ended

#skill {
  margin-top: 40px;
  h2 {
    font-family: $fourhand;
    font-size: 5em;
    padding-left: 50px;
  }
}

//gallery started
.carousel{
  margin-top: 20px;
  .item {
    // min-height: 280px; /* Prevent carousel from being distorted if for some reason image doesn't load */
    img {
      margin: 0 auto; /* Align slide image horizontally center */
      border: solid 10px #F2F3F4;
      box-shadow: 5px 5px 20px 1px #efb88b;
      transition: .5s ease-in;
      &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 20px 5px #efb88b;
      }
    }
  }
}

.carousel-inner {
  overflow: hidden;
}

.carousel-indicators {
  position: relative;
  margin-top: 40px;
  li {
    border: solid #196F3D;
  }
}

.carousel-control.left, .carousel-control.right {
    background-image: none
}

.slide {
  animation: none;
}
//gallery ended

//contact started
.contHead {
  h3 {
    margin: 0 auto;
    text-align: center;
  }
}

.form-group {
  div {
    margin: 10px;
  }
  label {
    float: left;
    text-align: center;
    // margin: 10px;
  }
  input {
    // margin: 10px;
    width: 80%;
    height: 25px;
    float: right;
    border: none;
    &:after {
      border: 0.1em solid transparent;
      border-image: url('http://emptyeasel.com/wp-content/uploads/2012/11/creatingtexture2-carrielewis.jpg') 0 27 27 27 round stretch;
      transform: rotate(-1deg);
      content: '';
      top:0px;
      left:0px;
      position:absolute;
      width:100%;
      height:100%;
    }
    &:before {
      border-top: 0.1em solid transparent;
      border-image: url('http://emptyeasel.com/wp-content/uploads/2012/11/creatingtexture2-carrielewis.jpg') 27 0 0 0 stretch round;
      /*border-radius: 1.5em;*/
      content: '';
      height: 3em;
      left: 0;
      top: 0;
      transform: rotate(-1deg);
      width:100%;
      position:absolute;
    }
  }
  textarea {
    clear: both;
  }
  #submit {
    float: none;
    width: 100px;
    clear: both;
    background: #019879;
  }
}
//contact end

//thank you start
#thankyou {
  .circle-part {
    .circleYat {
      // margin: 50px;
      background: #019879;
      border-radius: 50%;
      h1 {
        margin-top: 50px;
        font-family: $fourhand;
        text-align: center;
        font-size: 7em;
      }
      h3 {
        font-family: $lilsunshine;
        text-align: center;
        font-size: 4em;
      }
      .foterthank {
        margin-top: 5000px;
      }
    }
  }
}
//thank you end

// portfolio start
.sortfil {
  a {
    font-size: 1.5em;
    margin: 0 auto;
  }
}

#portfolio {
  h2 {
    font-family: $fourhand;
    font-size: 5em;
    margin: 50px;
    a {
      color: #333;
      cursor: pointer;
    }
  }
}

.portfolio {
  div {
    margin-bottom: 20px;
    img {
      border: solid 10px #F2F3F4;
      box-shadow: 5px 5px 20px 1px #efb88b;
      transition: .5s ease-in;
      &:hover {
        transform: scale(1.05);
        box-shadow: 5px 5px 20px 5px #efb88b;
      }
    }
    .im1 {
      transform: rotate(2deg);
    }
    .im2 {
        transform: rotate(-1.5deg);
    }
  }
}

// lightbox start
.lightbox {
  .container-fluid {
    position: fixed;
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,0.8);
    z-index: 56;
    -webkit-transition: all 0.5s ease-in-out 0s;
      -moz-transition: all 0.5s ease-in-out 0s;
      transition: all 0.5s ease-in-out 0s;
  }
  .container {
  //   width: calc(100% - 20px);
  // max-width: 600px;
  // background-color: #ccc;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  // padding: 10px;
  // border-radius: 6px;
  // border: 0;
  z-index: 57;
    img {
      // position: relative;
      margin: 0 auto;
      margin-top: 60px;
      // top: 0;
      // left: 0;
      // right: 0;
      // bottom: 0;
      // z-index: 10000;

    }
  }
  .close {
    position: fixed;
    color: white;
    font-size: 1.5em;
  }
}
//lightbox end

//portfolio end

// footer start
footer {
  background: #007966;
  ul {
    padding-left: 0;
    list-style: none;
    li {
      list-style-type: none;
      clear: both;
      a {
        color: #F2F3F4;
        font-size: 1.2em;
      }
    }
  }
  .small-icon {
    margin-top: 10px;
    color: #F7F9F9;
    a {
      color: #F7F9F9;
      text-decoration: none;
      transition: 0.2s ease-in;
      &:hover {
        transform: rotate(-8deg);
        opacity: 0.8;
      }
    }
  }
  .copyright {
    margin-top: 10px;
    color: #F7F9F9
  }
}
// footer end
